DIV.ZoneCoinHG {
display:none;
}

DIV.ZoneHaut {
display:none;
}

DIV.ZoneCentre {
margin : 0px;
}

DIV.Btn1 {
display:none;
}

DIV.ZoneBordDroit {
display:none;
}

DIV.Btn2 {
display:none;
}

DIV.Btn3 {
display:none;
}

DIV.Btn4 {
display:none;
}

DIV.Btn5 {
display:none;
}

DIV.ZoneBas {
display:none;
}
